@import url("./theme.css");

body {
    background-color: #494949;
    color: #fafafa;
}

code {
    background-color: #E4F1FE;
    color: #2d0f18;
}

.header {
    background-color: #2d0f18;
    color: #fafafa;
}

.footer {
    background-color: #2d0f18;
}