@import url("./theme.css");

body {
    background-color: #202020;
    color: #fafafa;
}

code {
    background-color: #202020;
    color: #000000;
}

.header {
    background-color: #202020;
    color: #fafafa;
}

.footer {
    background-color: #202020;
}