@import url("./theme.css");

body {
    background-color: #000000;
    color: #fafafa;
}

code {
    background-color: #E4F1FE;
    color: #000000;
}

.header {
    background-color: #000000;
    color: #fafafa;
}

.footer {
    background-color: #000000;
}